---
---

@use "sass:color";

body {
  background-color: white;
  color: black;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

ul {
  list-style: square;
  padding: 0;
}

h1 {
  font-size: 4em;
}

$links: #E0218A;

a {
  color: $links;
  text-decoration: none;
  &:hover {
    color: color.adjust($links, $lightness: 20%);
  }
}

