body {
  background-color: white;
  color: black;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

ul {
  list-style: square;
  padding: 0;
}

h1 {
  font-size: 4em;
}

a {
  color: #E0218A;
  text-decoration: none;
  &:hover {
    color: rgb(236.4980237154, 122.5019762846, 185.1699604743);
  }
}

