<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maxwell Jacobson</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
